@font-face { font-family: New French; src: url('newfrench.otf'); } 
*{
	background-color: rgb(46,47,64);
}
body {
	margin: 0;
}
#container{
	width: 100vw;
	margin: 0 auto;

}
.header{
	background-color: rgb(0,2,22);
	width: 700px;
	text-align: center;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding-top: 10px;
	margin-top: -70px;
	box-shadow: 5px 5px 5px 5px #22232F;	
}
h1{
	background-color: rgb(0,2,22);
	color: white;
	font-family: din-condensed, sans-serif;
	font-weight: bold;
	font-size: 100px;
	font-style: normal;
}

.nav{
	background-color: rgb(0,2,22);
	width: 700px;
	height: 90px;
	margin-left: -10px;
	box-shadow: 5px 5px 5px 5px #22232F;
	padding-left: 40px;
	margin-right: auto;	
}
a, h2{
	color: white;
	font-family: din-condensed, sans-serif;
	font-weight: bold;
	font-size: 40px;
	font-style: normal;
	word-spacing: 30px;
}
ul{
	background-color: rgb(0,2,22);
	padding-top: 20px;
}
a{
	background-color: transparent;
	text-decoration: none;
}
a:hover{
	color: gray;
}
#title{
	background-color: rgb(0,2,22);
	margin-left: 600px;
	margin-right: -10px;
	margin-top: 30px;
	padding-left: 10px;
	/*margin-left: 190px;*/
	height: 100px;
	width: 58%;
	margin-bottom: 50px;
	position: relative;
	box-shadow: 5px 5px 5px 5px #22232F;
}
h3{
	background-color: transparent;
	color: white;
	text-align: right;
	margin-top: 40px;
	padding-left: 20px;
	padding-right: 40px;
	font-family: New French, sans-serif;
	font-weight: bold;
	font-size: 80px;
	font-style: normal;
	position: absolute;
	top: -100px;
}
p{
	background-color: transparent;
	font-family:  din-condensed, sans-serif;
	font-size: 30px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
h5{
	background-color: transparent;
	font-family:  din-condensed, sans-serif;
	font-size: 30px;
	width: 700px;
	margin-left: 500px;
	margin-right: 30px;
	margin-top: -400px;
}
.selection{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	height: 300px;
}
.line{
	width: 100%;
	display: inline;
	margin-left: 40px;
}
.test {
    position: relative;
    width: 350px;
    background-color: white;
    margin-left: 100px;
    float: left;
    margin-bottom: 50px;
}
.image {
	background-color: rgb(254, 255, 255); 
 	opacity: 1;
  	width: 400px;
  	height: auto;
  	transition: .5s ease;
  	backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.test:hover .image {
  opacity: 0.3;
}
.test:hover .middle {
  opacity: 1;
}
.text {
  background-color: transparent;
  color: white;
  font-family: din-condensed, sans-serif;
  font-size: 16px;
  padding: 16px 32px;
}
#background{
	background-color: rgb(178, 184, 197);
	width: 101%;
	padding: auto;
	padding-top: 40px;
	height: 2100px;
	margin-top: 10px;
	position: absolute;
	margin-left: -10px;
	/*padding-left: 30px;*/
	margin-right: auto;
}
#background2{
	background-color: rgb(178, 184, 197);
	width: 95%;
	padding: auto;
	padding-top: 40px;
	height: 500px;
	margin-top: 0px;
	position: absolute;
	margin-left: -10px;

	/*padding-left: 30px;*/
	margin-right: -10px;
}
.selection{
	margin-top: 0px;
	position: relative;
    float: left;
    margin-bottom: 0px;
}
.selection img{
	width: 100%;
	height: 400px;
	object-fit:  cover;
	}
.selection:hover .image {
  opacity: 0.3;
}
.selection:hover .middle {
  opacity: 1;
}
.texthome {
  background-color: transparent;
  color: white;
  font-family: din-condensed, sans-serif;
  font-size: 40px;
  padding: 16px 32px;
}
.footer{
	margin-top: 550px;
	height: 100px;
	background-color: rgb(46,47,64);
}
.bioimg{
	background-color: rgb(178, 184, 197);
	height: 400px;
	width: 400px;
	margin: 30px;
}
.hamburger{
	margin-left: 25px;
	margin-top: 15px;
	width: 25px;
	display: none;

	
}


		/*SMALL DESKTOP*/
		@media screen and (max-width: 1024px){
			*{
				background-color: rgb(46,47,64);
			}
			#container{
				width: 100vw;
				margin: 0 auto;

			}
			.header{
				background-color: rgb(0,2,22);
				width: 700px;
				text-align: center;
				height: 200px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
				padding-top: 10px;
				margin-top: -70px;
				box-shadow: 5px 5px 5px 5px #22232F;	
			}
			h1{
				background-color: rgb(0,2,22);
				color: white;
				font-family: din-condensed, sans-serif;
				font-weight: bold;
				font-size: 100px;
				font-style: normal;
			}
			.nav{
				background-color: rgb(0,2,22);
				width: 700px;
				height: 90px;
				margin-left: -10px;
				box-shadow: 5px 5px 5px 5px #22232F;
				padding-left: 40px;
				margin-right: auto;	
			}
			a, h2{
				color: white;
				font-family: din-condensed, sans-serif;
				font-weight: bold;
				font-size: 40px;
				font-style: normal;
				word-spacing: 30px;
			}
			ul{
				background-color: rgb(0,2,22);
				padding-top: 20px;
			}
			a{
				background-color: transparent;
				text-decoration: none;
			}
			a:hover{
				color: gray;
			}
			#title{
			background-color: rgb(0,2,22);
			margin-left: 450px;
			margin-right: -10px;
			margin-top: 50px;
			padding-left: 10px;
			/*margin-left: 190px;*/
			height: 75px;
			margin-bottom: 50px;
			position: relative;
			box-shadow: 5px 5px 5px 5px #22232F;
			}
			h3{
				background-color: transparent;
				color: white;
				text-align: right;
				margin-top: 50px;
				padding-left: 20px;
				padding-right: 40px;
				font-family: New French, sans-serif;
				font-weight: bold;
				font-size: 50px;
				font-style: normal;
				position: absolute;
				top: -100px;
			}
			p{
				background-color: transparent;
				font-family:  din-condensed, sans-serif;
				font-size: 30px;
				margin-left: 60px;
				margin-right: 60px;
			}
			h5{
				background-color: transparent;
				font-family:  din-condensed, sans-serif;
				font-size: 30px;
				width: 500px;
				margin-left: 400px;
				margin-right: 50px;
				margin-top: -300px;
			}
			.selection{
				margin-left: auto;
				margin-right: auto;
				display: block;
				width: 100%;
				height: auto;
			}
			.line{
				width: 100%;
				display: inline;
				margin-left: 40px;
			}
			.test {
			    position: relative;
			    width: 350px;
			    background-color: white;
			    margin-left: 80px;
			    float: left;
			    margin-bottom: 50px;
			}
			.image {
				background-color: rgb(254, 255, 255); 
			 	opacity: 1;
			  	width: 400px;
			  	height: auto;
			  	transition: .5s ease;
			  	backface-visibility: hidden;
			}
			.middle {
			  transition: .5s ease;
			  opacity: 0;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  -ms-transform: translate(-50%, -50%);
			  text-align: center;
			}
			.test:hover .image {
			  opacity: 0.3;
			}
			.test:hover .middle {
			  opacity: 1;
			}
			.text {
			  background-color: transparent;
			  color: white;
			  font-family: din-condensed, sans-serif;
			  font-size: 16px;
			  padding: 16px 32px;
			}
			#background{
				background-color: rgb(178, 184, 197);
				width: 100%;
				padding: auto;
				padding-top: 40px;
				height: 3300px;
				margin-top: 10px;
				position: absolute;
				margin-left: -10px;
				padding-left: 30px;
				margin-right: auto;
			}
			#background2{
				background-color: rgb(178, 184, 197);
				width: 100%;
				padding: auto;
				padding-top: 40px;
				height: 500px;
				margin-top: 0px;
				position: absolute;
				margin-left: -10px;
				padding-left: 30px;
				margin-right: auto;
			}
			.selection{
				margin-top: 0px;
				position: relative;
			    float: left;
			    margin-bottom: 0px;
			}
			.selection img{
				width: 100%;
				height: 400px;
				object-fit:  cover;
				}
			.selection:hover .image {
			  opacity: 0.3;
			}
			.selection:hover .middle {
			  opacity: 1;
			}
			.texthome {
			  background-color: transparent;
			  color: white;
			  font-family: din-condensed, sans-serif;
			  font-size: 40px;
			  padding: 16px 32px;
			}
			.footer{
				margin-top: 550px;
				height: 100px;
				background-color: rgb(46,47,64);
			}
			.bioimg{
				background-color: rgb(178, 184, 197);
				height: 300px;
				width: 300px;
				margin: 30px;
			}
			.hamburger{
					margin-left: 25px;
					margin-top: 15px;
					width: 25px;
					display: none;
					
				}
		}
/*TABLET*/
@media screen and (max-width: 768px){
				*{
					background-color: rgb(46,47,64);
				}
				#container{
					width: 100vw;
					margin: 0 auto;

				}
				.header{
					background-color: rgb(0,2,22);
					width: 500px;
					text-align: center;
					height: 200px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 20px;
					margin-top: -70px;
					box-shadow: 5px 5px 5px 5px #22232F;	
				}
				h1{
					background-color: rgb(0,2,22);
					color: white;
					padding-top: 20px;
					padding-right: 10px;
					padding-left: 10px;
					font-family: din-condensed, sans-serif;
					font-weight: bold;
					font-size: 70px;
					font-style: normal;
				}
				.nav{
					background-color: rgb(0,2,22);
					width: 600px;
					height: 70px;
					margin-left: -10px;
					box-shadow: 5px 5px 5px 5px #22232F;
					padding-left: 40px;
					margin-right: auto;	
					display: none;
				}
				.nav .responsive{

				}
				a, h2{
					color: white;
					font-family: din-condensed, sans-serif;
					font-weight: bold;
					font-size: 30px;
					font-style: normal;
					word-spacing: 30px;
				}
				ul{
					background-color: rgb(0,2,22);
					padding-top: 20px;
				}
				a{
					background-color: transparent;
					text-decoration: none;
				}
				a:hover{
					color: gray;
				}
				#title{
					background-color: rgb(0,2,22);
					margin-left: 0px;
					margin-right: -10px;
					margin-top: 50px;
					/*padding-left: 220px;*/
					height: 50px;
					width: 100%;
					margin-bottom: 50px;
					position: relative;
					box-shadow: 5px 5px 5px 5px #22232F;
					}
				h3{
					background-color: transparent;
					color: white;
					margin-top: 60px;
					margin-right: auto;
					margin-left: auto;
					display: block;
					padding-top: 50px;
					padding-right: 250px;
					padding-left: auto;
					font-family: New French, sans-serif;
					font-weight: bold;
					font-size: 50px;
					font-style: normal;
					position: relative;
					top: -100px;
				}
				p{
					background-color: transparent;
					font-family:  din-condensed, sans-serif;
					font-size: 30px;
					color: black;
					width: 500px;
					margin-left: auto;
					margin-right: auto;
				}
				h5{
					background-color: transparent;
					font-family:  din-condensed, sans-serif;
					font-size: 25px;
					margin-left: auto;
					margin-right: auto;
					margin-top: 50px;
				}
				.selection{
					margin-left: auto;
					margin-right: auto;
					display: block;
					width: 100%;
					height: auto;
				}
				.line{
					width: 100%;
					display: inline;
					margin-left: 40px;
				}
				.test {
				    position: relative;
				    width: 400px;
				    background-color: white;
				    margin-left: 170px;
				    float: left;
				    margin-bottom: 50px;
				}
				.image {
					background-color: rgb(254, 255, 255); 
				 	opacity: 1;
				  	width: 400px;
				  	height: auto;
				  	transition: .5s ease;
				  	backface-visibility: hidden;
				}
				.middle {
				  transition: .5s ease;
				  opacity: 0;
				  position: absolute;
				  top: 50%;
				  left: 50%;
				  transform: translate(-50%, -50%);
				  -ms-transform: translate(-50%, -50%);
				  text-align: center;
				}
				.test:hover .image {
				  opacity: 0.3;
				}
				.test:hover .middle {
				  opacity: 1;
				}
				.text {
				  background-color: transparent;
				  color: white;
				  font-family: din-condensed, sans-serif;
				  font-size: 16px;
				  padding: 16px 32px;
				}
				#background{
					background-color: rgb(178, 184, 197);
					width: 100%;
					padding: auto;
					padding-top: 40px;
					height: 7000px;
					margin-top: 10px;
					position: absolute;
					margin-left: -10px;
					padding-left: 30px;
					margin-right: auto;
				}
				#background2{
					background-color: rgb(178, 184, 197);
					width: 100%;
					padding: auto;
					padding-top: 40px;
					height: 600px;
					margin-top: 0px;
					position: absolute;
					margin-left: -10px;
					padding-left: 30px;
					margin-right: auto;
				}
				.selection{
					margin-top: 0px;
					position: relative;
				    float: left;
				    margin-bottom: 0px;
				}
				.selection img{
					width: 100%;
					height: 400px;
					object-fit:  cover;
					}
				.selection:hover .image {
				  opacity: 0.3;
				}
				.selection:hover .middle {
				  opacity: 1;
				}
				.texthome {
				  background-color: transparent;
				  color: white;
				  font-family: din-condensed, sans-serif;
				  font-size: 40px;
				  padding: 16px 32px;
				}
				.footer{
					margin-top: 650px;
					height: 100px;
					background-color: rgb(46,47,64);
				}
				.bioimg{
					background-color: rgb(178, 184, 197);
					height: 300px;
					width: 300px;
					margin-left: 200px;
					margin-right: auto;
					display: block;
					padding: 0;
				}
				.hamburger{
					margin-left: 25px;
					margin-top: 15px;
					width: 25px;
					display: block;
				}
}
/*PHONE*/
@media screen and (max-width: 505px){
					*{
					background-color: rgb(46,47,64);
				}
				#container{
					width: 100vw;
					margin: 0 auto;

				}
				.header{
					background-color: rgb(0,2,22);
					width: 350px;
					text-align: center;
					height: 200px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 20px;
					margin-top: -70px;
					box-shadow: 5px 5px 5px 5px #22232F;	
				}
				h1{
					background-color: rgb(0,2,22);
					color: white;
					padding-top: 10px;
					padding-right: 10px;
					padding-left: 10px;
					font-family: din-condensed, sans-serif;
					font-weight: bold;
					font-size: 60px;
					font-style: normal;
				}
				.nav{
					background-color: rgb(0,2,22);
					width: 600px;
					height: 70px;
					margin-left: -10px;
					box-shadow: 5px 5px 5px 5px #22232F;
					padding-left: 40px;
					margin-right: auto;	
					display: none;
				}
				a, h2{
					color: white;
					font-family: din-condensed, sans-serif;
					font-weight: bold;
					font-size: 30px;
					font-style: normal;
					word-spacing: 30px;
				}
				ul{
					background-color: rgb(0,2,22);
					padding-top: 20px;
				}
				a{
					background-color: transparent;
					text-decoration: none;
				}
				a:hover{
					color: gray;
				}
				#title{
					background-color: rgb(0,2,22);
					margin-left: 0px;
					margin-right: -10px;
					margin-top: 50px;
					padding-left: 50px;
					/*margin-left: 190px;*/
					height: 50px;
					margin-bottom: 50px;
					position: relative;
					box-shadow: 5px 5px 5px 5px #22232F;
					}
				h3{
					background-color: transparent;
					color: white;
					margin-top: 30px;
					padding-left: 130px;
					padding-right: auto;
					font-family: New French, sans-serif;
					font-weight: bold;
					font-size: 30px;

					font-style: normal;
					position: absolute;
					top: -100px;
				}
				p{
					background-color: transparent;
					font-family:  din-condensed, sans-serif;
					font-size: 25px;
					color: black;
					width: 300px;
					margin-left: auto;
					margin-right: auto;
				}
				h5{
					background-color: transparent;
					font-family:  din-condensed, sans-serif;
					font-size: 25px;
					margin-left: 60px;
					width: 400px;
					margin-right: auto;
					margin-top: auto;
				}
				.selection{
					margin-left: auto;
					margin-right: auto;
					display: block;
					width: 100%;
					height: auto;
				}
				.line{
					width: 100%;
					display: inline;
					margin-left: 40px;
				}
				.test {
				    position: relative;
				    width: 250px;
				    background-color: white;
				    margin-left: 100px;
				    float: left;
				    margin-bottom: 50px;
				}
				.image {
					background-color: rgb(254, 255, 255); 
				 	opacity: 1;
				  	width: 400px;
				  	height: auto;
				  	transition: .5s ease;
				  	backface-visibility: hidden;
				}
				.middle {
				  transition: .5s ease;
				  opacity: 0;
				  position: absolute;
				  top: 50%;
				  left: 50%;
				  transform: translate(-50%, -50%);
				  -ms-transform: translate(-50%, -50%);
				  text-align: center;
				}
				.test:hover .image {
				  opacity: 0.3;
				}
				.test:hover .middle {
				  opacity: 1;
				}
				.text {
				  background-color: transparent;
				  color: white;
				  font-family: din-condensed, sans-serif;
				  font-size: 16px;
				  padding: 16px 32px;
				}
				#background{
					background-color: rgb(178, 184, 197);
					width: 100%;
					padding: auto;
					padding-top: 40px;
					height: 4750px;
					margin-top: 10px;
					position: absolute;
					margin-left: -10px;
					padding-left: 30px;
					margin-right: auto;
				}
				#background2{
					background-color: rgb(178, 184, 197);
					width: 100%;
					padding: auto;
					padding-top: 40px;
					height: 700px;
					margin-top: 0px;
					position: absolute;
					margin-left: -10px;
					padding-left: 30px;
					margin-right: auto;
				}
				.selection{
					margin-top: 0px;
					position: relative;
				    float: left;
				    margin-bottom: 0px;
				}
				.selection img{
					width: 100%;
					height: 400px;
					object-fit:  cover;
					}
				.selection:hover .image {
				  opacity: 0.3;
				}
				.selection:hover .middle {
				  opacity: 1;
				}
				.texthome {
				  background-color: transparent;
				  color: white;
				  font-family: din-condensed, sans-serif;
				  font-size: 40px;
				  padding: 16px 32px;
				}
				.footer{
					margin-top: 800px;
					height: 100px;

					width: 30px;
					background-color: rgb(46,47,64);
				}
				.bioimg{
					background-color: rgb(178, 184, 197);
					height: 300px;
					width: 300px;
					margin-left: auto;
					margin-right: auto;
					display: block;
				}
				.hamburger{
					margin-left: 25px;
					margin-top: 15px;
					width: 25px;
				}

}
/*MY PHONE*/
@media screen and (max-width: 413px){
					*{
					background-color: rgb(46,47,64);
				}
				#container{
					width: 100vw;
					margin: 0 auto;

				}
				.header{
					background-color: rgb(0,2,22);
					width: 250px;
					text-align: center;
					height: 150px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 80px;
					margin-top: -70px;
					box-shadow: 5px 70px 5px 5px #22232F;	
				}
				h1{
					background-color: rgb(0,2,22);
					color: white;
					padding-top: 40px;
					padding-bottom: 30px;
					padding-right: 10px;
					padding-left: 10px;
					font-family: din-condensed, sans-serif;
					font-weight: bold;
					font-size: 50px;
					font-style: normal;
				}
				.nav{
					background-color: rgb(0,2,22);
					/*width: 600px;*/
					height: 60px;
					margin-left: -10px;
					box-shadow: 5px 5px 5px 5px #22232F;
					padding-left: 40px;
					margin-right: auto;	
					display: none;
				}
				a, h2{
					color: white;
					font-family: din-condensed, sans-serif;
					font-weight: bold;
					font-size: 30px;
					font-style: normal;
					word-spacing: 30px;
				}
				ul{
					background-color: rgb(0,2,22);
					padding-top: 20px;
				}
				a{
					background-color: transparent;
					text-decoration: none;
				}
				a:hover{
					color: gray;
				}
				#title{
					background-color: rgb(0,2,22);
					margin-left: 0px;
					align-items: center;
					margin-right: -10px;
					margin-top: 110px;
					padding-left: 50px;
					/*margin-left: 190px;*/
					height: 70px;
					width: 87%;
					margin-bottom: 20px;
					position: initial;
					box-shadow: 5px 5px 5px 5px #22232F;
					}
				h3{
					background-color: transparent;
					color: white;
					text-shadow: center;
					margin-top: 0px;
					padding-left: 20px;
					padding-right: 50px;
					
					font-family: New French, sans-serif;
					font-weight: bold;
					font-size: 30px;
					font-style: normal;
					position: initial;
					top: -100px;
				}
				p{
					background-color: transparent;
					font-family:  din-condensed, sans-serif;
					font-size: 30px;
					color: black;
					margin-left: 60px;
					margin-right: 60px;
				}
				h5{
					background-color: transparent;
					font-family:  din-condensed, sans-serif;
					font-size: 25px;
					margin-left: 60px;
					margin-right: 60px;
					margin-top: 50px;
				}
				.selection{
					margin-left: auto;
					margin-right: auto;
					display: block;
					width: 100%;
					height: auto;
				}
				.line{
					width: 100%;
					display: inline;
					margin-left: 40px;
				}
				.test {
				    position: relative;
				    width: 250px;
				    background-color: white;
				    margin-left: 50px;
				    float: left;
				    margin-bottom: 50px;
				}
				.image {
					background-color: rgb(254, 255, 255); 
				 	opacity: 1;
				  	width: 400px;
				  	height: auto;
				  	transition: .5s ease;
				  	backface-visibility: hidden;
				}
				.middle {
				  transition: .5s ease;
				  opacity: 0;
				  position: absolute;
				  top: 50%;
				  left: 50%;
				  transform: translate(-50%, -50%);
				  -ms-transform: translate(-50%, -50%);
				  text-align: center;
				}
				.test:hover .image {
				  opacity: 0.3;
				}
				.test:hover .middle {
				  opacity: 1;
				}
				.text {
				  background-color: transparent;
				  color: white;
				  font-family: din-condensed, sans-serif;
				  font-size: 16px;
				  padding: 16px 32px;
				}
				#background{
					background-color: rgb(178, 184, 197);
					width: 95%;
					padding: auto;
					padding-top: 40px;
					height: 4750px;
					margin-top: 10px;
					position: absolute;
					margin-left: -10px;
					padding-left: 30px;
					margin-right: auto;
				}
				#background2{
					background-color: rgb(178, 184, 197);
					width: 95%;
					padding: auto;
					/*padding-top: 40px;*/
					height: 700px;
					margin-top: 0px;
					position: absolute;
					margin-left: -10px;
					/*padding-left: 30px;*/
					margin-right: auto;
				}
				.selection{
					margin-top: 0px;
					position: relative;
				    float: left;
				    margin-bottom: 0px;
				}
				.selection img{
					width: 100%;
					height: 300px;
					object-fit:  cover;
					}
				.selection:hover .image {
				  opacity: 0.3;
				}
				.selection:hover .middle {
				  opacity: 1;
				}
				.texthome {
				  background-color: transparent;
				  color: white;
				  font-family: din-condensed, sans-serif;
				  font-size: 40px;
				  padding: 16px 32px;
				}
				.footer{
					margin-top: 750px;
					margin-left: 50px;
					margin-right: auto;
					height: 100px;
					/*width: 300px;*/
					background-color: rgb(46,47,64);
				}
				.bioimg{
					background-color: rgb(178, 184, 197);
					height: 200px;
					width: 200px;
					margin-left: auto;
					margin-right: auto;
					display: block;
					padding: 0;
				}
				.hamburger{
					margin-left: 25px;
					margin-top: 15px;
					width: 25px;
				}

}