@font-face { font-family: New French; src: url('newfrench.otf'); } 
*{
	background-color: rgb(46,47,64);
}
body {
	margin: 0;
}
#container{
	width: 100vw;
	margin: 0 auto;

}
.header{
	background-color: rgb(0,2,22);
	width: 700px;
	text-align: center;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding-top: 10px;
	margin-top: -70px;
	box-shadow: 5px 5px 5px 5px #22232F;	
}
h1{
	background-color: rgb(0,2,22);
	color: white;
	font-family: din-condensed, sans-serif;
	font-weight: bold;
	font-size: 100px;
	font-style: normal;
}
.nav{
	background-color: rgb(0,2,22);
	width: 700px;
	height: 90px;
	margin-left: -10px;
	box-shadow: 5px 5px 5px 5px #22232F;
	padding-left: 40px;
	margin-right: auto;	
}
a, h2{
	color: white;
	font-family: din-condensed, sans-serif;
	font-weight: bold;
	font-size: 40px;
	font-style: normal;
	word-spacing: 30px;
}
ul{
	background-color: rgb(0,2,22);
	padding-top: 20px;
}
a{
	background-color: transparent;
	text-decoration: none;
}
a:hover{
	color: gray;
}
#title{
	background-color: rgb(0,2,22);
	margin-left: 600px;
	margin-right: -10px;
	margin-top: 30px;
	padding-left: 10px;
	/*margin-left: 190px;*/
	height: 100px;
	margin-bottom: 50px;
	position: relative;
	box-shadow: 5px 5px 5px 5px #22232F;
}
h3{
	background-color: transparent;
	color: white;
	text-align: right;
	margin-top: 40px;
	padding-left: 20px;
	padding-right: 40px;
	font-family: New French, sans-serif;
	font-weight: bold;
	font-size: 80px;
	font-style: normal;
	position: absolute;
	top: -100px;
}
.selection{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	height: auto;
}
.line{
	width: 100%;
	display: inline;
	margin-left: 40px;
}
.test {
    position: relative;
    width: 350px;
    background-color: white;
    margin-left: 80px;
    float: left;
    margin-bottom: 50px;
}
.image {
	background-color: rgb(254, 255, 255); 
 	opacity: 1;
  	width: 400px;
  	height: auto;
  	transition: .5s ease;
  	backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.test:hover .image {
  opacity: 0.3;
}
.test:hover .middle {
  opacity: 1;
}
.text {
  background-color: transparent;
  color: white;
  font-family: din-condensed, sans-serif;
  font-size: 16px;
  padding: 16px 32px;
}
#background{
	background-color: rgb(178, 184, 197);
	width: 100%;
	padding: auto;
	padding-top: 40px;
	height: 2100px;
	margin-top: 10px;
	position: absolute;
	margin-left: -10px;
	/*padding-left: 30px;*/
	margin-right: auto;
}
#background2{
	background-color: rgb(178, 184, 197);
	width: 100%;
	padding: auto;
	padding-top: 40px;
	height: 500px;
	margin-top: 0px;
	position: absolute;
	margin-left: -10px;
	/*padding-left: 30px;*/
	margin-right: auto;
}
.selection{
	margin-top: 0px;
	position: relative;
    float: left;
    margin-bottom: 0px;
}
.selection img{
	width: 100%;
	height: 400px;
	object-fit:  cover;
	}
.selection:hover .image {
  opacity: 0.3;
}
.selection:hover .middle {
  opacity: 1;
}
.texthome {
  background-color: transparent;
  color: white;
  font-family: din-condensed, sans-serif;
  font-size: 40px;
  padding: 16px 32px;
}
.footer{
	margin-top: 550px;
	height: 100px;
	background-color: rgb(46,47,64);
}
.bioimg{
	background-color: rgb(178, 184, 197);
	height: 400px;
	width: 400px;
	margin: 30px;
}

@if index($hamburger-types, spring-r) {
  /*
   * Spring Reverse
   */
  .hamburger--spring-r {
    .hamburger-inner {
      top: auto;
      bottom: 0;
      transition-duration: 0.13s;
      transition-delay: 0s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

      &::after {
        top: ($hamburger-layer-spacing * 2 + $hamburger-layer-height * 2) * -1;
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
                    opacity 0s linear;
      }

      &::before {
        transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
                    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }

    &.is-active {
      .hamburger-inner {
        transform: translate3d(0, ($hamburger-layer-spacing + $hamburger-layer-height) * -1, 0) rotate(-45deg);
        transition-delay: 0.22s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &::after {
          top: 0;
          opacity: 0;
          transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
                      opacity 0s 0.22s linear;
        }

        &::before {
          top: 0;
          transform: rotate(90deg);
          transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
                      transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
  }
}
		/*SMALL DESKTOP*/
		@media screen and (max-width: 1024px){
			*{
				background-color: rgb(46,47,64);
			}
			#container{
				width: 100vw;
				margin: 0 auto;

			}
			.header{
				background-color: rgb(0,2,22);
				width: 700px;
				text-align: center;
				height: 200px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
				padding-top: 10px;
				margin-top: -70px;
				box-shadow: 5px 5px 5px 5px #22232F;	
			}
			h1{
				background-color: rgb(0,2,22);
				color: white;
				font-family: din-condensed, sans-serif;
				font-weight: bold;
				font-size: 100px;
				font-style: normal;
			}
			.nav{
				background-color: rgb(0,2,22);
				width: 700px;
				height: 90px;
				margin-left: -10px;
				box-shadow: 5px 5px 5px 5px #22232F;
				padding-left: 40px;
				margin-right: auto;	
			}
			a, h2{
				color: white;
				font-family: din-condensed, sans-serif;
				font-weight: bold;
				font-size: 40px;
				font-style: normal;
				word-spacing: 30px;
			}
			ul{
				background-color: rgb(0,2,22);
				padding-top: 20px;
			}
			a{
				background-color: transparent;
				text-decoration: none;
			}
			a:hover{
				color: gray;
			}
			#title{
			background-color: rgb(0,2,22);
			margin-left: 450px;
			margin-right: -10px;
			margin-top: 50px;
			padding-left: 10px;
			/*margin-left: 190px;*/
			height: 100px;
			margin-bottom: 50px;
			position: relative;
			box-shadow: 5px 5px 5px 5px #22232F;
			}
			h3{
				background-color: transparent;
				color: white;
				text-align: right;
				margin-top: 50px;
				padding-left: 20px;
				padding-right: 40px;
				font-family: New French, sans-serif;
				font-weight: bold;
				font-size: 70px;
				font-style: normal;
				position: absolute;
				top: -100px;
			}
			.selection{
				margin-left: auto;
				margin-right: auto;
				display: block;
				width: 100%;
				height: auto;
			}
			.line{
				width: 100%;
				display: inline;
				margin-left: 40px;
			}
			.test {
			    position: relative;
			    width: 350px;
			    background-color: white;
			    margin-left: 80px;
			    float: left;
			    margin-bottom: 50px;
			}
			.image {
				background-color: rgb(254, 255, 255); 
			 	opacity: 1;
			  	width: 400px;
			  	height: auto;
			  	transition: .5s ease;
			  	backface-visibility: hidden;
			}
			.middle {
			  transition: .5s ease;
			  opacity: 0;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  -ms-transform: translate(-50%, -50%);
			  text-align: center;
			}
			.test:hover .image {
			  opacity: 0.3;
			}
			.test:hover .middle {
			  opacity: 1;
			}
			.text {
			  background-color: transparent;
			  color: white;
			  font-family: din-condensed, sans-serif;
			  font-size: 16px;
			  padding: 16px 32px;
			}
			#background{
				background-color: rgb(178, 184, 197);
				width: 100%;
				padding: auto;
				padding-top: 40px;
				height: 3300px;
				margin-top: 10px;
				position: absolute;
				margin-left: -10px;
				padding-left: 30px;
				margin-right: auto;
			}
			#background2{
				background-color: rgb(178, 184, 197);
				width: 100%;
				padding: auto;
				padding-top: 40px;
				height: 500px;
				margin-top: 0px;
				position: absolute;
				margin-left: -10px;
				padding-left: 30px;
				margin-right: auto;
			}
			.selection{
				margin-top: 0px;
				position: relative;
			    float: left;
			    margin-bottom: 0px;
			}
			.selection img{
				width: 100%;
				height: 400px;
				object-fit:  cover;
				}
			.selection:hover .image {
			  opacity: 0.3;
			}
			.selection:hover .middle {
			  opacity: 1;
			}
			.texthome {
			  background-color: transparent;
			  color: white;
			  font-family: din-condensed, sans-serif;
			  font-size: 40px;
			  padding: 16px 32px;
			}
			.footer{
				margin-top: 550px;
				height: 100px;
				background-color: rgb(46,47,64);
			}
			.bioimg{
				background-color: rgb(178, 184, 197);
				height: 300px;
				width: 300px;
				margin: 30px;
			}
		}
/*TABLET*/
@media screen and (max-width: 768px){
				*{
					background-color: rgb(46,47,64);
				}
				#container{
					width: 100vw;
					margin: 0 auto;

				}
				.header{
					background-color: rgb(0,2,22);
					width: 500px;
					text-align: center;
					height: 200px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 20px;
					margin-top: -70px;
					box-shadow: 5px 5px 5px 5px #22232F;	
				}
				h1{
					background-color: rgb(0,2,22);
					color: white;
					padding-top: 20px;
					padding-right: 10px;
					padding-left: 10px;
					font-family: din-condensed, sans-serif;
					font-weight: bold;
					font-size: 70px;
					font-style: normal;
				}
				.nav{
					background-color: rgb(0,2,22);
					width: 600px;
					height: 70px;
					margin-left: -10px;
					box-shadow: 5px 5px 5px 5px #22232F;
					padding-left: 40px;
					margin-right: auto;	
				}
				a, h2{
					color: white;
					font-family: din-condensed, sans-serif;
					font-weight: bold;
					font-size: 30px;
					font-style: normal;
					word-spacing: 30px;
				}
				ul{
					background-color: rgb(0,2,22);
					padding-top: 20px;
				}
				a{
					background-color: transparent;
					text-decoration: none;
				}
				a:hover{
					color: gray;
				}
				#title{
				background-color: rgb(0,2,22);
				margin-left: 250px;
				margin-right: -10px;
				margin-top: 50px;
				padding-left: 10px;
				/*margin-left: 190px;*/
				height: 100px;
				margin-bottom: 50px;
				position: relative;
				box-shadow: 5px 5px 5px 5px #22232F;
				}
				h3{
					background-color: transparent;
					color: white;
					text-align: right;
					margin-top: 50px;
					padding-left: 20px;
					padding-right: 40px;
					font-family: New French, sans-serif;
					font-weight: bold;
					font-size: 70px;
					font-style: normal;
					position: absolute;
					top: -100px;
				}
				.selection{
					margin-left: auto;
					margin-right: auto;
					display: block;
					width: 100%;
					height: auto;
				}
				.line{
					width: 100%;
					display: inline;
					margin-left: 40px;
				}
				.test {
				    position: relative;
				    width: 400px;
				    background-color: white;
				    margin-left: 170px;
				    float: left;
				    margin-bottom: 50px;
				}
				.image {
					background-color: rgb(254, 255, 255); 
				 	opacity: 1;
				  	width: 400px;
				  	height: auto;
				  	transition: .5s ease;
				  	backface-visibility: hidden;
				}
				.middle {
				  transition: .5s ease;
				  opacity: 0;
				  position: absolute;
				  top: 50%;
				  left: 50%;
				  transform: translate(-50%, -50%);
				  -ms-transform: translate(-50%, -50%);
				  text-align: center;
				}
				.test:hover .image {
				  opacity: 0.3;
				}
				.test:hover .middle {
				  opacity: 1;
				}
				.text {
				  background-color: transparent;
				  color: white;
				  font-family: din-condensed, sans-serif;
				  font-size: 16px;
				  padding: 16px 32px;
				}
				#background{
					background-color: rgb(178, 184, 197);
					width: 100%;
					padding: auto;
					padding-top: 40px;
					height: 7000px;
					margin-top: 10px;
					position: absolute;
					margin-left: -10px;
					padding-left: 30px;
					margin-right: auto;
				}
				#background2{
					background-color: rgb(178, 184, 197);
					width: 100%;
					padding: auto;
					padding-top: 40px;
					height: 500px;
					margin-top: 0px;
					position: absolute;
					margin-left: -10px;
					padding-left: 30px;
					margin-right: auto;
				}
				.selection{
					margin-top: 0px;
					position: relative;
				    float: left;
				    margin-bottom: 0px;
				}
				.selection img{
					width: 100%;
					height: 400px;
					object-fit:  cover;
					}
				.selection:hover .image {
				  opacity: 0.3;
				}
				.selection:hover .middle {
				  opacity: 1;
				}
				.texthome {
				  background-color: transparent;
				  color: white;
				  font-family: din-condensed, sans-serif;
				  font-size: 40px;
				  padding: 16px 32px;
				}
				.footer{
					margin-top: 550px;
					height: 100px;
					background-color: rgb(46,47,64);
				}
				.bioimg{
					background-color: rgb(178, 184, 197);
					height: 300px;
					width: 300px;
					margin: 30px;
				}
}
/*PHONE*/
@media screen and (max-width: 505px){
					*{
					background-color: rgb(46,47,64);
				}
				#container{
					width: 100vw;
					margin: 0 auto;

				}
				.header{
					background-color: rgb(0,2,22);
					width: 500px;
					text-align: center;
					height: 200px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 20px;
					margin-top: -70px;
					box-shadow: 5px 5px 5px 5px #22232F;	
				}
				h1{
					background-color: rgb(0,2,22);
					color: white;
					padding-top: 20px;
					padding-right: 10px;
					padding-left: 10px;
					font-family: din-condensed, sans-serif;
					font-weight: bold;
					font-size: 70px;
					font-style: normal;
				}
				.nav{
					background-color: rgb(0,2,22);
					width: 600px;
					height: 70px;
					margin-left: -10px;
					box-shadow: 5px 5px 5px 5px #22232F;
					padding-left: 40px;
					margin-right: auto;	
				}
				a, h2{
					color: white;
					font-family: din-condensed, sans-serif;
					font-weight: bold;
					font-size: 30px;
					font-style: normal;
					word-spacing: 30px;
				}
				ul{
					background-color: rgb(0,2,22);
					padding-top: 20px;
				}
				a{
					background-color: transparent;
					text-decoration: none;
				}
				a:hover{
					color: gray;
				}
				#title{
				background-color: rgb(0,2,22);
				margin-left: 0px;
				margin-right: -10px;
				margin-top: 50px;
				padding-left: 50px;
				/*margin-left: 190px;*/
				height: 100px;
				margin-bottom: 50px;
				position: relative;
				box-shadow: 5px 5px 5px 5px #22232F;
				}
				h3{
					background-color: transparent;
					color: white;
					text-align: right;
					margin-top: 60px;
					padding-left: 20px;
					padding-right: 40px;
					font-family: New French, sans-serif;
					font-weight: bold;
					font-size: 60px;
					font-style: normal;
					position: absolute;
					top: -100px;
				}
				.selection{
					margin-left: auto;
					margin-right: auto;
					display: block;
					width: 100%;
					height: auto;
				}
				.line{
					width: 100%;
					display: inline;
					margin-left: 40px;
				}
				.test {
				    position: relative;
				    width: 250px;
				    background-color: white;
				    margin-left: 100px;
				    float: left;
				    margin-bottom: 50px;
				}
				.image {
					background-color: rgb(254, 255, 255); 
				 	opacity: 1;
				  	width: 400px;
				  	height: auto;
				  	transition: .5s ease;
				  	backface-visibility: hidden;
				}
				.middle {
				  transition: .5s ease;
				  opacity: 0;
				  position: absolute;
				  top: 50%;
				  left: 50%;
				  transform: translate(-50%, -50%);
				  -ms-transform: translate(-50%, -50%);
				  text-align: center;
				}
				.test:hover .image {
				  opacity: 0.3;
				}
				.test:hover .middle {
				  opacity: 1;
				}
				.text {
				  background-color: transparent;
				  color: white;
				  font-family: din-condensed, sans-serif;
				  font-size: 16px;
				  padding: 16px 32px;
				}
				#background{
					background-color: rgb(178, 184, 197);
					width: 100%;
					padding: auto;
					padding-top: 40px;
					height: 4750px;
					margin-top: 10px;
					position: absolute;
					margin-left: -10px;
					padding-left: 30px;
					margin-right: auto;
				}
				#background2{
					background-color: rgb(178, 184, 197);
					width: 100%;
					padding: auto;
					padding-top: 40px;
					height: 500px;
					margin-top: 0px;
					position: absolute;
					margin-left: -10px;
					padding-left: 30px;
					margin-right: auto;
				}
				.selection{
					margin-top: 0px;
					position: relative;
				    float: left;
				    margin-bottom: 0px;
				}
				.selection img{
					width: 100%;
					height: 400px;
					object-fit:  cover;
					}
				.selection:hover .image {
				  opacity: 0.3;
				}
				.selection:hover .middle {
				  opacity: 1;
				}
				.texthome {
				  background-color: transparent;
				  color: white;
				  font-family: din-condensed, sans-serif;
				  font-size: 40px;
				  padding: 16px 32px;
				}
				.footer{
					margin-top: 550px;
					height: 100px;
					background-color: rgb(46,47,64);
				}
				.bioimg{
					background-color: rgb(178, 184, 197);
					height: 300px;
					width: 300px;
					margin: 30px;
				}
}