 @font-face { font-family: Bad Signal; src: url('Bad Signal.otf'); } 
 @font-face { font-family: BebasNeue; src: url('BebasNeue-Regular.otf'); } 
body{
	background-color: #181B1C;
}
.head{
	background-color: #464A50;
	margin-left: -10px;
	margin-right: 120px;
	margin-top: 50px;
	padding: 20px;
	padding-left: 80px;
	padding-right: 175px;
}
h1, h2{
	color: #4EAB3B;
	background-color: #464A50; 
}
h1{
	font-size: 70px;
	font-family: Bad Signal;
}
h2{
	font-size: 50px;
	font-family: BebasNeue;
}
#whitewave{
	width: 100%;
}
p{
	color: white;
	font-size: 20px;
	margin-left: 350px;
	margin-right: 350px;
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
}
.line{
	background-color: #4EAB3B;
	font-size: 70px;
	font-family: Bad Signal;
	margin-left: 400px;
	margin-right:-10px;
	padding-left: 50px;

}
h3{
	font-size: 70px;
	font-family: Bad Signal;
	color: white;
}