 @font-face { font-family: Bad Signal; src: url('Bad Signal.otf'); } 
 @font-face { font-family: BebasNeue; src: url('BebasNeue-Regular.otf'); } 
body{
	background-color: #181B1C;
	margin: 0;
}
.head{
	background-color: #464A50;
	margin-left: -10px;
	margin-right: 120px;
	margin-top: 50px;
	padding: 20px;
	padding-left: 80px;
	padding-right: 175px;

}
h1, h2{
	color: #4EAB3B;
	background-color: #464A50; 

}
h1{
	font-size: 70px;
	font-family: Bad Signal;
	letter-spacing: 5px;

}
h2{
	font-size: 50px;
	font-family: BebasNeue;
}
h3{
	font-size: 50px;
	font-family: Bad Signal;
	color: white;
	letter-spacing: 5px;
	
}
h4{
	font-size: 50px;
	font-family: BebasNeue;
	color: white;
}

.whitewave {
	width: 1440px;
	margin-top: -150px;
}
.whitewave img{
	min-width: 100%;
 
}
#amazon{
	margin-left: 300px;
	height: 200px;
}
#amazon img{ 
	height: auto;
	max-width: 100%;
	max-height: 100%;

}
#ihome{
	margin-left: -10px;
	height: 200px;
}
#ihome img{
	height: auto;
	max-width: 100%;
	max-height: 100%;
	
}
#greenwave{
	opacity: .50;
	margin-top: -900px;
	margin-left: 300px;
}
#greenwave img{
	height: 800px;
}
#greenswirl{
	transform: rotate(100deg);
	opacity: .50;
}
.circit{
	
	transform: rotate(180deg);
	margin-top: -700px;
	margin-right: 600px;
	opacity: .50;
	
}
.circit img{
	height: 700px;
}
p{
	color: white;
	font-size: 20px;
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
}
a{
	color:white;

}
a:hover{
	color:#4EAB3B;
	font-style: italic;

}
iframe{
	 position:absolute;
	 width:100%;
	 height:100%;
	 left:0;
}
.quote{
	background-color: gray;
	text-align: center;
	font-size: 40px;
	padding: 30px;
	margin-right: -10px;
	margin-left: -10px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#column{
	margin-left: 400px;
}
.line{
	background-color: #4EAB3B;
	text-align: right;
	font-size: 70px;
	font-family: Bad Signal;
	margin-top: 150px;
	margin-bottom: 100px;
	margin-left: 400px;
	margin-right:-10px;

	padding-right: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	
}
.line2{
	text-align: left;
	background-color: #4EAB3B;
	font-size: 70px;
	font-family: Bad Signal;
	/*margin-left: -10px;*/
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right:400px;
	padding-left: 30px;
	padding-top: 1px;
	padding-bottom: 1px;
	/*padding:0px;*/
	

}
.connect2{
	background: url(pictures/connect.png);
	align-content: center; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 500px;
	width: 100%;
	background-size: cover;

}
.connectm img{
	display: none;
}

.footer{
	background-color: #464A50;
	height: 50px;
	width: 100%;
}
iframe{
	display: inline;
	position: static;
	height: 600px;
}
.footerwave{
	margin-top: 200px;
	transform: rotate(180deg);
	opacity: .75;
	height: 500px;
}
.footerwave img{
	max-height: 100%;

}
.container{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}



/*REGULAR DESKTOP SCREEN*/
@media screen and (max-width: 1024px){		
body{
	background-color: #181B1C;
	margin: 0;
}
.head{
	background-color: #464A50;
	margin-left: -10px;
	margin-right: 120px;
	margin-top: 50px;
	padding: 20px;
	padding-left: 80px;
	padding-right: 175px;

}
h1, h2{
	color: #4EAB3B;
	background-color: #464A50; 

}
h1{
	font-size: 50px;
	font-family: Bad Signal;
	letter-spacing: 5px;

}
h2{
	font-size: 30px;
	font-family: BebasNeue;
}
h3{
	font-size: 50px;
	font-family: Bad Signal;
	color: white;
	letter-spacing: 5px;
	
}
h4{
	font-size: 35px;
	font-family: BebasNeue;
	color: white;
}

.whitewave {
	width: 1024px;
	margin-top: -100px;
}
.whitewave img{
	min-width: 100%;
 
}
#amazon{
	margin-left: 300px;
	height: 200px;
}
#amazon img{ 
	height: auto;
	max-width: 100%;
	max-height: 100%;

}
#ihome{
	margin-left: -10px;
	height: 200px;
}
#ihome img{
	height: auto;
	max-width: 100%;
	max-height: 100%;
	
}
#greenwave{
	opacity: .50;
	margin-top: -900px;
	margin-left: 200px;
}
#greenwave img{
	height: 800px;
}
#greenswirl{
	transform: rotate(100deg);
	opacity: .50;
}
.circit{
	
	transform: rotate(180deg);
	margin-top: -700px;
	margin-right: 500px;
	opacity: .50;
	
}
.circit img{
	height: 700px;
}
p{
	color: white;
	font-size: 20px;
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
}
a{
	color:white;

}
a:hover{
	color:#4EAB3B;
	font-style: italic;

}
iframe{
	 position:absolute;
	 width:100%;
	 height:100%;
	 left:0;
}
.quote{
	background-color: gray;
	text-align: center;
	font-size: 40px;
	padding: 30px;
	margin-right: -10px;
	margin-left: -10px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#column{
	margin-left: 400px;
}
.line{
	background-color: #4EAB3B;
	text-align: right;
	font-size: 70px;
	font-family: Bad Signal;
	margin-top: 150px;
	margin-bottom: 100px;
	margin-left: 200px;
	margin-right:-10px;

	padding-right: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	
}
.line2{
	text-align: left;
	background-color: #4EAB3B;
	font-size: 70px;
	font-family: Bad Signal;
	/*margin-left: -10px;*/
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 200px;
	padding-left: 30px;
	padding-top: 1px;
	padding-bottom: 1px;
	/*padding:0px;*/
	

}
.connect2{
	background: url(pictures/connect.png);
	align-content: center; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 500px;
	width: 100%;
	background-size: cover;

}
.connectm {}
.connectm img{
	display: none;
}

.footer{
	background-color: #464A50;
	height: 50px;
	width: 100%;
}
iframe{
	display: inline;
	position: static;
	height: 600px;
}
.footerwave{
	margin-top: 200px;
	transform: rotate(180deg);
	opacity: .75;
	height: 500px;
}
.footerwave img{
	max-height: 100%;

}
.container{
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
}
/*TABLET SCREEN*/
@media screen and (max-width: 768px){
	body{
	background-color: #181B1C;
	margin: 0;
}
.head{
	background-color: #464A50;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
	padding: 10px;
	padding-left: 80px;
	padding-right: 175px;

}
h1, h2{
	color: #4EAB3B;
	background-color: #464A50; 

}
h1{
	font-size: 40px;
	font-family: Bad Signal;
	letter-spacing: 2px;

}
h2{
	font-size: 30px;
	font-family: BebasNeue;
}
h3{
	font-size: 30px;
	font-family: Bad Signal;
	color: white;
	letter-spacing: 2px;
	
}
h4{
	font-size: 30px;
	font-family: BebasNeue;
	color: white;
}
.whitewave {
	width: 750px;
	margin-top: -90px;
}
.whitewave img{
	max-width: 100%;
 
}
#amazon{
	margin-left: 300px;
	height: 200px;
}
#amazon img{ 
	height: auto;
	max-width: 100%;
	max-height: 100%;

}
#ihome{
	margin-left: -10px;
	height: 200px;
}
#ihome img{
	height: auto;
	max-width: 100%;
	max-height: 100%;
	
}
#greenwave{
	opacity: .50;
	margin-top: -900px;
	margin-left: 50px;
}
#greenwave img{
	height: 700px;
	margin-bottom: 180px;
}
#greenswirl{
	transform: rotate(100deg);
	opacity: .50;
	height: 1000px;
	margin-top: -1000px;
	margin-bottom: 100px;
	margin-right: 200px;
}
#greenswirl img{
	max-height: 100%;
}
.circit{
	
	transform: rotate(180deg);
	margin-top: -700px;
	margin-right: 40px;
	opacity: .50;
	
}
.circit img{
	height: 700px;
}

p{
	color: white;
	font-size: 18px;
	/*margin-left: 350px;
	margin-right: 350px;*/
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
}
a{
	color:white;

}
a:hover{
	color:#4EAB3B;
	font-style: italic;

}
iframe{
	 position:absolute;
	 width:100%;
	 height:100%;
	 left:0;
}
.quote{
	background-color: gray;
	text-align: center;
	padding: 30px;
	margin-right: -10px;
	margin-left: -10px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#column{
	margin-left: 400px;
}
.line{
	background-color: #4EAB3B;
	text-align: center;
	font-family: Bad Signal;
	margin-left: -10px;
	width: 100%;
	margin-right:-10px;
	margin-bottom: 30px;
	margin-top: 30px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.line2{
	background-color: #4EAB3B;
	text-align: center;
	font-family: Bad Signal;
	margin-left: -10px;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-right:-10px;
	padding-right: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	

}
.connect2{
	background: url(pictures/connect.png) center center;
	align-content: center ; 
	height: 300px;
	width: 100%;
	
}
.connectm{

}
.connectm img{
	 
	/*height: 400px;*/
	max-width: 100%;
}


.footer{
	background-color: #464A50;
	height: 50px;
	width: 100%;
	
}
iframe{
	display: inline;
	position: static;
	height: 600px;
}
.footerwave{
	margin-top: 200px;
	margin-right: 100px;
	transform: rotate(180deg);
	opacity: .75;
	height: 400px;
}
.footerwave img{
	max-height: 100%;

}
.container{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
}

/*MOBILE SCREEN*/
@media screen and (max-width: 500px){
	body{
	background-color: #181B1C;
	margin: 0;
}
.head{
	background-color: #464A50;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
	padding: 10px;
	padding-left: 80px;
	padding-right: 100px;

}
h1, h2{
	color: #4EAB3B;
	background-color: #464A50; 

}
h1{
	font-size: 25px;
	font-family: Bad Signal;
	letter-spacing: 2px;

}
h2{
	font-size: 18px;
	font-family: BebasNeue;
}
h3{
	font-size: 20px;
	font-family: Bad Signal;
	color: white;
	text-align: center;
	letter-spacing: 2px;
	
}
h4{
	font-size: 20px;
	font-family: BebasNeue;
	color: white;
	letter-spacing: 3px;
}
.whitewave {
	width: 400px;
	margin-top: -30px;
}
.whitewave img{
	max-width: 100%;
 
}
#amazon{
	margin-left: 300px;
	height: 200px;
}
#amazon img{ 
	height: auto;
	max-width: 100%;
	max-height: 100%;

}
#ihome{
	margin-left: -10px;
	height: 200px;
}
#ihome img{
	height: auto;
	max-width: 100%;
	max-height: 100%;
	
}
#greenwave{
	opacity: .50;
	margin-top: -900px;
	margin-left: -10px;
}
#greenwave img{
	height:440px;
	margin-bottom: 450px;
}
#greenswirl{
	transform: rotate(100deg);
	opacity: .50;
	display: none;
	height: 1000px;
	margin-top: -1000px;
	margin-bottom: 100px;
	margin-right: 200px;
}
#greenswirl img{
	max-height: 100%;
}
.circit{
	
	transform: rotate(180deg);
	margin-top: -700px;
	margin-right: 40px;
	opacity: .50;
	
}
.circit img{
	height: 700px;
}

p{
	color: white;
	font-size: 15px;
	/*margin-left: 350px;
	margin-right: 350px;*/
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
}
a{
	color:white;

}
a:hover{
	color:#4EAB3B;
	font-style: italic;

}
iframe{
	 position:absolute;
	 width:100%;
	 height:100%;
	 left:0;
}
.quote{
	background-color: gray;
	text-align: center;
	padding: 30px;
	margin-right: -10px;
	margin-left: -10px;
	margin-top: 20px;
	margin-bottom: 0px;
}
#column{
	margin-left: 400px;
}
.line{
	background-color: #4EAB3B;
	text-align: center;
	font-family: Bad Signal;
	margin-left: -10px;
	width: 100%;
	margin-right:-10px;
	margin-bottom: 30px;
	margin-top: 30px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.line2{
	background-color: #4EAB3B;
	text-align: center;
	font-family: Bad Signal;
	margin-left: -10px;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-right:-10px;
	padding-right: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	

}
.connect2{
	display: none;
}
.connectm {
	
}
.connectm img{
	height: 100px;
	
}
.footer{
	background-color: #464A50;
	height: 50px;
	width: 100%;
	
}
iframe{
	display: inline;
	position: static;
	height: 300px;
}
.footerwave{
	margin-top: -50px;
	margin-right: 5px;
	transform: rotate(180deg);
	opacity: .75;
	height: 300px;
}
.footerwave img{
	max-height: 100%;

}
.container{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}
}

