*{
	background-color: #505e75;
	
}
h1{
	font-family: 'Work Sans', sans-serif;
	color: white;
	font-size: 200px;
	letter-spacing: 100%;
	margin-left: -20px;
	margin-top:-50px;
	margin-bottom: 2px;
	padding:10px;
	text-decoration: underline;
	
}
h2{
	font-family: 'Work Sans', sans-serif;
	color:white;
	margin-top:-30px;
	word-spacing: 5px;

}
p{
	font-family: 'Yantramanav', sans-serif;
	width: 600px;
	background-color: white;
	margin-left: -10px;
	margin-right: 100%;
	padding-left: 530px;
	margin-bottom: 20px;
	font-size: 22px;
	padding-right: 20px;
	padding-bottom: 10px;
}
span{
	font-size: 30px;
	background-color: white;
}
q{
	background-color: white;
}
