h1{
	text-align: right;
	font-family: 'Knewave', cursive;
	font-size: 100px;
	transform: rotate(90deg);
	margin-top: 200px;
	margin-left: 900px;
	margin-right: -200px;
	background-color: white;
	padding-right: 100px;
}
*{
	background-color: #c6c1c0;

}
h2{
	background-color: white;
	font-family: 'Knewave', cursive;
	font-size: 30px;
	margin-right: 400px;
	margin-left: -10px;
	padding-right: 100px;
	padding-left: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: -400px;
}
h3{
	background-color: white;
	font-family: 'Knewave', cursive;
	font-size: 30px;
	margin-right: 400px;
	margin-left: -10px;
	padding-right: 100px;
	padding-left: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
}

p{
	width: 800px;
	font-size: 30px;
	margin-left: -10px;
	background-color: white;
	padding-right: 200px;
	padding-left: 40px;
	padding-bottom: 40px;
	padding-top: 10px;
}
q{
	background-color: white;

}