.clearfix:before,
.clearfix:after{
	content:  " "; 
	display: table;
}
body{
	font-size: 24px; 
}
#container{
	width: 75vw;
	margin: 50px auto;

}
.headline{
	width: 50vw;
	margin: 0 auto;

}
.leftcolm,.rightcolm{
	float: left;

}
.leftclom{
	width: calc((100% / 2) - 25px);
	margin-left: 25px;

}
.rightclom{
	width: calc((100% / 2) - 25px);
	margin-right: 25px;
}
img{max-width:100%;
}
.shift{
	margin: 700px 0 0 0;

}
h1{
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	font-size: 4rem;


}
p{
	margin: 0 0 15px;
	font-size: 1.3em;
	line-height: 
}